xterm*cursorBlink: true
xterm.borderLess: true
xterm.cursorBlink: true
!English font
xterm*faceName: DejaVu Sans Mono:antialias=True:pixelsize=12
!Chinese font
xterm*faceNameDoublesize: WenQuanYi Micro Hei:pixelsize=11
xterm*cjkWidth:false
xterm*xftAntialias: true
!fix alt key input
xterm*eightBitInput: false
xterm*altSendsEscape: true
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm*SaveLines: 4096
! Light
! Common
xterm*background:              #fdf6e3
xterm*foreground:              #657b83
xterm*fading:                  40
xterm*fadeColor:               #fdf6e3
xterm*cursorColor:             #586e75
xterm*pointerColorBackground:  #93a1a1
xterm*pointerColorForeground:  #586e75
xterm*color0:                  #eee8d5
xterm*color1:                  #dc322f
xterm*color2:                  #859900
xterm*color3:                  #b58900
xterm*color4:                  #268bd2
xterm*color5:                  #d33682
xterm*color6:                  #2aa198
xterm*color7:                  #073642
xterm*color9:                  #cb4b16
xterm*color8:                  #fdf6e3
xterm*color10:                 #93a1a1
xterm*color11:                 #839496
xterm*color12:                 #657b83
xterm*color13:                 #6c71c4
xterm*color14:                 #586e75
xterm*color15:                 #002b36
